.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.introduction__title {
  margin: 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: bold;
}

.introduction__subtitle {
  margin: 0;
  max-width: 720px;
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
}

.introduction__image {
  width: 100%;
  height: auto;
  max-width: 100%;
  filter: grayscale(100%);
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .introduction {
    padding-top: 100px;
  }

  .introduction__title {
    font-size: 64px;
    max-width: 100%;
  }

  .introduction__subtitle {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .introduction {
    padding-top: 80px;
  }

  .introduction__title {
    font-size: 42px;
  }

  .introduction__subtitle {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

