.introduction {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  text-align: center; 
  max-width: 984px;
  max-height: 986px;
  margin: 0 auto;
  padding-top: 150px;
}

.introduction__title {
  margin: 0;
  max-width: 720px;
  max-height: 200px;
  font-size: 96px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.introduction__subtitle {
  margin: 0;
  max-width: 720px;
  min-height: 72px;
  padding-top: 60px;
  font-size: 30px;
  padding-bottom: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.introduction__image {
  height: 615px;
  width: 984px;
  filter: grayscale(100%);
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .introduction {
    padding-top: 100px;
    max-width: 90%;
    margin: 0 auto;
  }

  .introduction__title {
    font-size: 64px;
    max-width: 90%;
  }

  .introduction__subtitle {
    font-size: 24px;
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .introduction__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .introduction {
    padding-top: 80px;
    max-width: 95%;
    margin: 0 auto;
  }

  .introduction__title {
    font-size: 42px;
    max-width: 100%;
  }

  .introduction__subtitle {
    font-size: 18px;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .introduction__image {
    width: 100%;
    height: auto;
  }
}
