.overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  padding-inline: 16px;
  max-width: 100%;
}

.overview__title {
  text-align: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 58px;
}

.overview__quote {
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.overview__author {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
}

.overview__description {
  text-align: left;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .overview {
    padding-inline: 40px;
    max-width: 100%;
  }

  .overview__title {
    font-size: 40px;
    line-height: 48px;
  }

  .overview__quote {
    font-size: 20px;
    line-height: 30px;
  }

  .overview__author {
    font-size: 18px;
  }

  .overview__description {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .overview {
    padding-inline: 16px;
  }

  .overview__title {
    font-size: 32px;
    line-height: 38px;
  }

  .overview__quote {
    font-size: 16px;
    line-height: 24px;
  }

  .overview__author {
    font-size: 14px;
  }

  .overview__description {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 319px) {
  .overview__title {
    font-size: 28px;
    line-height: 34px;
  }

  .overview__quote {
    font-size: 14px;
    line-height: 20px;
  }

  .overview__author {
    font-size: 12px;
  }

  .overview__description {
    font-size: 12px;
    line-height: 18px;
  }
}